site
.pytest*
__pycache__
action/Test
settings.json
.devcontainer/configuration.yaml
node_modules
*.egg-info
*/dist/*
*/build/*

# dependencies
/node_modules
.coverage
coverage.xml
htmlcov
venv
config

homeassistant